* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
/* Common */
.remove-list-style {
    list-style: none;
}

.text-left {
    text-align: left;
    left: 0;
}

.text-right {
    text-align: right;
    right: 0;
}

/* HEADER */
#header {
    padding: 0 25px;
}

#header .title {
    line-height: 2;
    font-size: 30px;
    text-transform: uppercase;
    float: left;
}

#header .nav li {
    display: inline-block;
}

#header .nav > li,
#header .nav > i {
    float: right;
    padding: 18px;
    line-height: 2;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: white;
    position: relative;
}

#header .nav > li:hover {
    cursor: pointer;
}

#header .nav > i:hover {
    cursor: pointer;
    opacity: 0.8;
}

#header .sub-nav,
#header .sub-nav .double-sub-nav {
    position: absolute;
    background-color: white;
    padding: 12px 0;
    line-height: 35px;
    font-weight: 400;
    border-top: 2px solid #c7a17a;
    display: none;
}

#header .sub-nav {
    top: 65px;
}

#header .sub-nav .double-sub-nav {
    top: -12px;
    right: 240px;
}

#header .sub-nav li {
    color: #666;
    width: 240px;
    font-size: 13px;
    padding: 0 24px;
}

#header .sub-nav li:hover {
    color: #c7a17a;
}

#header li:hover ul,
#header .add-sub-nav:hover ul {
    display: block;
    cursor: pointer;
}

#header li .ti-arrow-left {
    float: left;
    padding-top: 16px;
}
